In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:\\Users\\RAHUL CHOUDHARY\\Summer inter regex\\ML Regex\\Attrition.csv")

In [3]:
df.head(2)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7

In [4]:
df=df.dropna()

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
lb=LabelEncoder()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [8]:
df['Attrition']=lb.fit_transform(df['Attrition'])
df['BusinessTravel']=lb.fit_transform(df['BusinessTravel'])
df['Department']=lb.fit_transform(df['Department'])
df['EducationField']=lb.fit_transform(df['EducationField'])
df['Gender']=lb.fit_transform(df['Gender'])
df['JobRole']=lb.fit_transform(df['JobRole'])
df['MaritalStatus']=lb.fit_transform(df['MaritalStatus'])
df['Over18']=lb.fit_transform(df['Over18'])
df['OverTime']=lb.fit_transform(df['OverTime'])

In [9]:
df.sample(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
972,18,0,0,1124,1,1,3,1,1,1368,...,3,80,0,0,5,4,0,0,0,0
1293,43,0,0,343,1,9,3,1,1,1813,...,3,80,0,7,2,2,3,2,1,2
1449,32,0,2,529,1,2,3,5,1,2038,...,4,80,0,4,4,3,4,2,1,2
373,27,0,2,1469,1,1,2,3,1,497,...,2,80,1,5,2,3,5,2,0,4
1305,54,0,2,431,1,7,4,3,1,1830,...,2,80,1,14,2,2,7,1,1,7

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
sc=StandardScaler()

In [13]:
df_sc=sc.fit_transform(df)

In [14]:
df_new=pd.DataFrame(df_sc,columns=df.columns)

In [15]:
np.round(df.describe(),1)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,...,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0,1470.0
mean,36.9,0.2,1.6,802.5,1.3,9.2,2.9,2.2,1.0,1024.9,...,2.7,80.0,0.8,11.3,2.8,2.8,7.0,4.2,2.2,4.1
std,9.1,0.4,0.7,403.5,0.5,8.1,1.0,1.3,0.0,602.0,...,1.1,0.0,0.9,7.8,1.3,0.7,6.1,3.6,3.2,3.6
min,18.0,0.0,0.0,102.0,0.0,1.0,1.0,0.0,1.0,1.0,...,1.0,80.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
25%,30.0,0.0,1.0,465.0,1.0,2.0,2.0,1.0,1.0,491.2,...,2.0,80.0,0.0,6.0,2.0,2.0,3.0,2.0,0.0,2.0
50%,36.0,0.0,2.0,802.0,1.0,7.0,3.0,2.0,1.0,1020.5,...,3.0,80.0,1.0,10.0,3.0,3.0,5.0,3.0,1.0,3.0
75%,43.0,0.0,2.0,1157.0,2.0,14.0,4.0,3.0,1.0,1555.8,...,4.0,80.0,1.0,15.0,3.0,3.0,9.0,7.0,3.0,7.0
max,60.0,1.0,2.0,1499.0,2.0,29.0,5.0,5.0,1.0,2068.0,...,4.0,80.0,3.0,40.0,6.0,4.0,40.0,18.0,15.0,17.0

In [16]:
from sklearn.model_selection import train_test_split

In [18]:
x = df.drop(columns = ['Age'] , axis = 1)  #### Independent data 
y = df['Age']

In [19]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state = 42)

In [20]:
from sklearn.preprocessing import MinMaxScaler

In [22]:
mn=MinMaxScaler()

In [23]:
x_train_mn = mn.fit_transform(x_train)

In [24]:
x_train_new = pd.DataFrame(x_train_mn , columns = x_train.columns)

In [25]:
np.round(x_train.describe() , 1)

,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,0.2,1.6,799.4,1.3,9.3,2.9,2.2,1.0,1028.3,2.7,...,2.7,80.0,0.8,11.1,2.8,2.8,6.9,4.2,2.1,4.0
std,0.4,0.7,405.7,0.5,8.2,1.0,1.3,0.0,607.6,1.1,...,1.1,0.0,0.9,7.8,1.3,0.7,6.1,3.6,3.1,3.5
min,0.0,0.0,102.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,...,1.0,80.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
25%,0.0,1.0,464.0,1.0,2.0,2.0,1.0,1.0,492.8,2.0,...,2.0,80.0,0.0,6.0,2.0,2.0,3.0,2.0,0.0,2.0
50%,0.0,2.0,796.5,1.0,7.0,3.0,2.0,1.0,1018.0,3.0,...,3.0,80.0,1.0,10.0,3.0,3.0,5.0,3.0,1.0,3.0
75%,0.0,2.0,1157.2,2.0,14.0,4.0,3.0,1.0,1569.8,4.0,...,4.0,80.0,1.0,15.0,3.0,3.0,10.0,7.0,2.0,7.0
max,1.0,2.0,1496.0,2.0,29.0,5.0,5.0,1.0,2068.0,4.0,...,4.0,80.0,3.0,40.0,6.0,4.0,40.0,18.0,15.0,17.0

In [26]:
np.round(x_train_new.describe() , 1)

,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,...,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0,1176.0
mean,0.2,0.8,0.5,0.6,0.3,0.5,0.4,0.0,0.5,0.6,...,0.6,0.0,0.3,0.3,0.5,0.6,0.2,0.2,0.1,0.2
std,0.4,0.3,0.3,0.3,0.3,0.3,0.3,0.0,0.3,0.4,...,0.4,0.0,0.3,0.2,0.2,0.2,0.2,0.2,0.2,0.2
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,0.5,0.3,0.5,0.0,0.2,0.2,0.0,0.2,0.3,...,0.3,0.0,0.0,0.2,0.3,0.3,0.1,0.1,0.0,0.1
50%,0.0,1.0,0.5,0.5,0.2,0.5,0.4,0.0,0.5,0.7,...,0.7,0.0,0.3,0.2,0.5,0.7,0.1,0.2,0.1,0.2
75%,0.0,1.0,0.8,1.0,0.5,0.8,0.6,0.0,0.8,1.0,...,1.0,0.0,0.3,0.4,0.5,0.7,0.2,0.4,0.1,0.4
max,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0